/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 }
 .card{
  margin: 5px;
 }
 .card:hover{
  transform: scale(1.05)
 }
.navbar-brand{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  color: chocolate;
  font-size:x-large;
}
.navbar-brand:hover{
  transform: scale(1.05);
}
#protitle{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: gray;
  display: block;
  text-align: center;
}
#buymore{
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  border: 2px solid rgb(0, 0, 0);
  padding: 20px;
  margin: 5px;
  display: block;
  text-align: center;
}